/* Reset body default spacing */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.topbar {
  display: flex;
  justify-content: space-between;
  background-color: #2f5438;
  color: white;
  padding: 8px 40px;
  font-size: 14px;
  align-items: center;
  margin: 0;
  box-sizing: border-box;
  width: 100vw;
}

.topbar-left span {
  margin-right: 20px;
  display: inline-flex;
  align-items: center;
  gap: 6px;
}

.topbar-right a {
  color: white;
  margin-left: 16px;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

.topbar-right a:hover {
  color: #ddd;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 40px;
  background-color: #ffffff;
}

.navbar-links {
  display: flex;
  justify-content: center;
  gap: 40px;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  font-size: 16px;
}

.navbar-links li {
  cursor: pointer;
  transition: color 0.3s;
}

.navbar-links li:hover {
  color: #2f5438;
}

.navbar-auth {
  display: flex;
  gap: 12px;
}

.login-btn,
.signup-btn {
  justify-content: center;
  padding: 8px 16px;
  border: none;
  border-radius: 30px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-btn {
  background-color: transparent;
  border: 1px solid #2f5438;
  color: #2f5438;
}

.signup-btn {
  background-color:transparent;
  color: #2f5438;
  border: 1px solid #2f5438;
}

.login-btn:hover {
  background-color: #2f5438;
  color: #fff;
}

.signup-btn:hover {
  background-color: #2f5438;
  color: #fff;
}
